.lastDiv {
    background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 2.4rem 3.2rem;
    border-radius: 15px;
    flex-direction: column;
}

h2 {
    color: var(--Orange, #FC7614);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2.9rem;
    background-color: #262E38;
    padding: 0.5rem 1.2rem;
    border-radius: 2.25rem;
}

.lastH1 {
    margin-top: 2.4rem;
}

.lastP {
    color: var(--Light-Grey, #969FAD);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
}